:root {
    --bg: #141414;
    --text: #e01a18;
}

@keyframes fade {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

@font-face {
    font-family: 'Times Dot';
    src: url('radio-assets/TimesDotRom.otf') format('opentype');
}

@font-face {
    font-family: 'Times Dot';
    src: url('radio-assets/Times Dot-Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Times Dot';
    src: url('radio-assets/TimesDotBol.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Helvetica';
    src: url('radio-assets/helvetica.woff') format('woff');
}

* {
    cursor: none;
}

body:before {
    content:"";
    position:absolute; 
    pointer-events: none;
    z-index:999999999;
    top:0;
    left:0;
    right:0;
    bottom:0; 
    background: radial-gradient(farthest-side ,var(--text) 80%,transparent 100%) calc(var(--x) - .5em) calc(var(--y) - .5em)/1.25em 1.25em  fixed no-repeat;
    mix-blend-mode:difference;
}

body {
    background: var(--bg);
    color: var(--text);
    font: 1.8vw 'Times Dot', times, serif;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: fade 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    background: var(--text);
    color: var(--bg);
}

.display {
    overflow: hidden;
    display: none;
}

.select {
    width: 35vw;
}

.tba {
    opacity: 0.5;
}

.select a:hover {
    font-style: italic;
}
