body {
	background: black;
	color: white;
	padding: 0;
	margin: 0;
	font-family: times, serif;
}

::selection {
	background: #666;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.diary {
	margin: 12.5%;
}

.diary div {
	margin: 0 0 4vw 0;
}

.diary div:last-child {
	margin: 0;
}

.diary div h1 {
	font-size: 4vw;
}

.diary div p {
	font-size: 2vw;
	line-height: 1.5em;
}

.diary div a {
	font-variant: small-caps;
}

.diary div blockquote {
	font-size: 1.5vw;
	line-height: 1.5em;
}

.grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "left right";
	grid-template-rows: auto;
}

.left {
	grid-area: left;
}

.self {
	background: url("../images/self.png") fixed no-repeat;
	background-size: contain;
}

.index {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.links a {
	font-size: 4vw;
	display: block;
}

.links a:hover {
	font-style: italic;
}

.about {
	padding: 4vw;
	font-size: 2vw;
	line-height: 1.5em;
}

.teeth {
	background: url("../images/teeth.png") no-repeat;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	.grid {
		display: block;
		height: auto;
		min-height: 100%;
		max-height: none;
	}

	.diary {
		margin: 30px;
	}

	.diary div {
		margin: 0 0 30px 0;
	}

	.diary div h1, .links a {
		font-size: 30px;
	}

	.diary div p {
		font-size: 17px;
	}

	.diary div blockquote {
		font-size: 14px;
	}
	
	.about {
		font-size: 17px;
		padding: 30px;
		height: auto;
		width: auto;
	}

	.index {
		justify-content: flex-start;
	}

	.self {
		background-attachment: scroll;
		height: 50%;
		width: auto;
	}

	.teeth, .index {
		height: 50%;
		width: auto;
	}
}