---
import Page from '../layouts/Page.astro';
import Portrait from '../portrait.png';
---
<Page>
	<section class="bio">
		<div class="bio-head">
			<b>moony@9000teeth:~$</b>
			<span class="bio-command">neofetch</span>
		</div>
		<div class="bio-img">
			<img src={Portrait.src} 
			alt="An illustration of a cat holding a pencil.">
		</div>
		<div class="bio-txt">
			<b>moony@9000teeth</b><br>
			---------------<br>
			<b>Species</b>:	Catlike (Felis fictus)<br>
			<b>Age</b>: Unknown<br>
			<b>Origin</b>: Unknown<br>
			<b>Location</b>: Earth<br>
			<b>Height</b>: 71.15 cm<br>
			<b>Occupation</b>: Unknown<br>
			<b>Abilities</b>: Unknown<br>
			<b>Temperament</b>: Mild<br>
			<b>Contact</b>: <a href="mailto:hello@feral.cat">click here</a>
		</div>
	</section>
</Page>
