---
import NavLink from './NavLink.astro';
---
<nav>
    <NavLink href="/">index</NavLink>
	<NavLink href="/art">gallery</NavLink>
	<NavLink href="/blog">blog</NavLink>
    <NavLink href="/rss.xml">rss</NavLink>
</nav>