---
import NavLink from './NavLink.astro';
---
<nav>
    <NavLink href="/">index</NavLink>
	<NavLink href="/art">gallery</NavLink>
	<NavLink href="/meta">meta</NavLink>
    <NavLink href="/start">start</NavLink>
</nav>
